
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body>
<a href="{% url 'home' %}"> Home</a>
<a href="{% url 'register' %}"> Register</a>
<a href="{% url 'login' %}"> Login</a>
<a href="{% url 'logout' %}"> Logout</a> 
<p>Hello {{user}}!<p>
<a href="{% url 'product_list' %}">Product List</a>
<a href="{% url 'order_create' %}">Checkout</a>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>